body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    font-family: sans-serif;
}

#caja {
    border: 1px solid black;
    padding: 20px;
    margin-top: 20px;
    overflow-wrap: break-word;
    border-radius: 5px;
}

h1 {
    font-size: 25px;
    font-weight: lighter;
    margin-left: 40px;
}

p {
    font-size: normal;
    margin-left: 40px;
}

label {
    font-size: normal;
}

input {
    border-radius: 3px;
    border: 1px solid gray;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    cursor: pointer;
}

#password {
    display: flex;
    justify-content: center;
    align-items: center;
}

#botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
}

button {
    width: 100px;
    height: 100px;
    color: #fc6612;
    font-size: xx-large;
    margin: 1px;
    background-color: whitesmoke;
    border: 1px solid gray;
}

.error {
    border: solid 2px red;
}

.mensajeError {
    color: red;
    font-size: smaller;
}

.normal {
    color: black;
    background-color: white;
    font-size: normal;
    font-weight: normal;
}

