body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  text-align: center;
  background-color: #fff;
  padding: 100px 200px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

form {
  display: flex;
  display: inline;
  gap: 10px;
}

#texto {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  font-weight: bold;
  display: flex;
}

label:nth-child(1) {
  margin: 5px 25px 0px;
}

label:nth-child(2) {
  margin: 5px 20px 0px 0px;
}

label:nth-child(3) {
  margin: 5px 210px 0px 30px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  margin: 20px;
}

select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  margin: 20px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#resultado {
  margin-top: 10px;
  font-weight: bold;
}